# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/

# Local env files
.env
.env.*

# Build / logs
*.log

# Netlify local build output
netlify-deploy/
